// sass-lint:disable variable-name-format
$mdc-theme-primary: #1b88d7;
$mdc-theme-on-primary: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #0f6bad;
// sass-lint:enable variable-name-format

$white: #fff;
$black: #000;
$darkBlue: #1e2f40;
$greyLight: #999;
