// sass-lint:disable variable-name-format
$mdc-theme-primary: #d81b60;
$mdc-theme-on-primary: #fff;
$mdc-theme-surface: #fce4ec;
$mdc-theme-on-surface: #000;
// sass-lint:enable variable-name-format

$white: #fff;
$darkBlue: #1e2f40;
$greyLight: #999;
