include ./mixins.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Smart Percent

  body
    .wrapper
      +build-with-love()

    .wrapper
      svg#mainChart(viewBox="0 0 500 500")

    form#form.wrapper
      input(type="number", name="budget")
      input(type="number", name="percent")
      button(type="submit") Check
